version: 2
jobs:
  checkout_and_test:
    docker:
      - image: circleci/node:10
      - image: circleci/mongo:3.6-jessie
    steps:
      - checkout
#      - restore_cache:
#          keys:
#            - v2-npm-deps-{{ .Branch }}-{{ checksum "package.json" }}-{{ checksum "package-lock.json" }}
#            - v2-npm-deps-{{ .Branch }}-{{ checksum "package.json" }}
#            - v2-npm-deps-{{ .Branch }}
#            - v2-npm-deps-
      - run:
          name: install NPM dependencies
          command: |
            npm install
#      - save_cache:
#          key: v2-npm-deps-{{ .Branch }}-{{ checksum "package.json" }}-{{ checksum "package-lock.json" }}
#          paths:
#            - node_modules
      - run:
          name: test
          command: |
           npx lerna run test
#      - run:
#          name: upload coverage report
#          command: bash <(curl -s https://codecov.io/bash) -t $CODECOV_TOKEN
      - run:
          name: build
          command: |
            npx lerna run build
      - save_cache:
          key: v1-source-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~

  publish:
    docker:
      - image: circleci/node:8-stretch
    steps:
      - restore_cache:
          key: v1-source-{{ .Environment.CIRCLE_SHA1 }}
      - add_ssh_keys
      - run:
          name: Add github to known_hosts
          command: |
            mkdir -p ~/.ssh
            ssh-keyscan github.com >> ~/.ssh/known_hosts
      - run:
          name: publish
          command: |
            git config --global user.email "circleci@oneflowsystems.com"
            git config --global user.name "Circle CI"
            npm run semantic-release

  publish_docs:
    docker:
      - image: circleci/node:8-stretch
    steps:
      - restore_cache:
          key: v1-source-{{ .Environment.CIRCLE_SHA1 }}
      - add_ssh_keys
      - run:
          name: Deploy docs
          command: |
            ./docs/deploy.sh

workflows:
  version: 2
  build_and_publish:
    jobs:
      - checkout_and_test:
          context: oneflow
      - publish:
          context: oneflow
          requires:
            - checkout_and_test
          filters:
            branches:
              only:
                - master
      - publish_docs:
          context: oneflow
          requires:
            - checkout_and_test
#          filters:
#            branches:
#              only:
#                - master
