version: 2.1

executors:
  mongo3_6:
    docker:
      - image: circleci/node:10
      - image: circleci/mongo:3.6-jessie
  mongo4_4:
    docker:
      - image: circleci/node:10
      - image: circleci/mongo:4.4

jobs:
  checkout_and_test:
    parameters:
      mongo-version: 
        type: executor
    executor: << parameters.mongo-version >>
    steps:
      - checkout
#      - restore_cache:
#          keys:
#            - v2-npm-deps-{{ .Branch }}-{{ checksum "package.json" }}-{{ checksum "package-lock.json" }}
#            - v2-npm-deps-{{ .Branch }}-{{ checksum "package.json" }}
#            - v2-npm-deps-{{ .Branch }}
#            - v2-npm-deps-
      - run:
          name: install NPM dependencies
          command: |
            echo -e "//registry.npmjs.org/:_authToken=$NPM_TOKEN\nscope=@oneflow" > .npmrc
            npm install
#      - save_cache:
#          key: v2-npm-deps-{{ .Branch }}-{{ checksum "package.json" }}-{{ checksum "package-lock.json" }}
#          paths:
#            - node_modules
      - run:
          name: test
          command: |
           npx lerna run test
#      - run:
#          name: upload coverage report
#          command: bash <(curl -s https://codecov.io/bash) -t $CODECOV_TOKEN
      - run:
          name: build
          command: |
            npx lerna run build
      - save_cache:
          key: v1-source-{{ .Environment.CIRCLE_JOB }}-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/
  publish:
    docker:
      - image: circleci/node:8-stretch
    steps:
      - restore_cache:
          key: v1-source-checkout_and_test-mongo4_4-{{ .Environment.CIRCLE_SHA1 }}
      - add_ssh_keys
      - run:
          name: Add github to known_hosts
          command: |
            mkdir -p ~/.ssh
            ssh-keyscan github.com >> ~/.ssh/known_hosts
      - run:
          name: publish
          command: |
            git config --global user.email "circleci@oneflowsystems.com"
            git config --global user.name "Circle CI"
            git checkout -f
            npm run semantic-release

  publish_docs:
    docker:
      - image: circleci/node:8-stretch
    steps:
      - restore_cache:
          key: v1-source-checkout_and_test-mongo4_4-{{ .Environment.CIRCLE_SHA1 }}
      - add_ssh_keys
      - run:
          name: Deploy docs
          command: |
            rm .npmrc
            sh ./docs/deploy.sh

workflows:
  version: 2
  build_and_publish:
    jobs:
      - checkout_and_test:
          matrix:
            parameters:
              mongo-version: [mongo3_6, mongo4_4]
      - publish:
          requires:
            - checkout_and_test
          filters:
            branches:
              only:
                - master
      - publish_docs:
          requires:
            - checkout_and_test
          filters:
            branches:
              only:
                - master
